.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

textarea {
  width: 80%;
}

button {
  margin: 2rem 0 2rem 0;
  padding: 2rem 1rem;
  width: 20vmin;
  background-color: dodgerblue;
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
  font-size: calc(10px + 1vmin);
  margin-right: 1rem;
}

.button-group {
  font-size: calc(8px + 1vmin);
}
